
.search {
  display: flex;
  gap: 10px;
  width: 300px;
  margin: 40px auto;
}

.search input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.search button {
  padding: 10px 16px;
  border: none;
  background: #444;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.search button:hover {
  background: #666;
} 
